a.btn:hover {
    cursor: text;
}
a:hover,
a {
    text-decoration: none;
    color: inherit;
}
.list-inside {
    list-style-position: inside;
}
ul.list-inside li {
    padding-bottom: 10px;
}
a.nav-link {
    color: rgb(123, 127, 133);
}

a.nav-link:hover {
    color: black;
}

a.nav-link.active {
    color: turquoise;
}

p,
.lh-lg {
    line-height: 1.7;
}

.text-light-grey {
    color: rgb(114, 121, 114) !important;
}

.text-lime {
    color:rgb(105, 243, 105) !important;
}

.bg-dark-light {
    background-color: rgba(0, 0, 0, 0.03) !important;
}

.darken {
    filter: brightness(20%);
}

.icons {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.icons2 {
    width: 300px;
    height: 300px;
    border-radius: 80%;
}

.icons3 {
    width: 300px;
    height: 200px;
}
.icons4 {
    width: 600px;
    height: 400px;
}

.bg-blue {
    background-color: #82A3DA !important;
}

.bg-red {
    background-color: #ff0000 !important;
}

.bg-white {
    background-color: #ffffff !important;
}

.btn-blue {
    background-color: #82A3DA;
    width: 70%;
    height: 5vh;
    color: #fff;
    font-weight: 500;
}

.btn-blue:hover {
    background-color: #5d88d6;
}

.btn-transparent {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0.2rem;
}

.btn-red {
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 0, 0);
    border: 2px solid #ff0000;
    border-radius: 0.2rem;
}

.btn-transparent:hover {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.btn-transparent-sm {
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 0.2rem;
}

.btn-transparent-sm:hover {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.btn-transparent-dark {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0.2rem;
}

.btn-transparent-dark:hover {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}

.btn-transparent-dark-sm {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 0.2rem;
}

.btn-transparent-dark-sm:hover {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
}

.bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.logo {
    width: auto;
    height: 60px;
}

section {
    padding: 60px 0;
    overflow: hidden;
}

header {
    background-color: #fff;
}

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar>ul>li {
    margin-left: 5px;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 15px 24px 15px;
    font-size: 14px;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 0;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }

    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #191919;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown>.dropdown-active {
    display: block;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: turquoise;
    width: 40px;
    height: 40px;
    transition: all 0.4s;
  }

  .back-to-top:hover {
    background: #5d88d6;
    color: #fff;
  }

  .link-dark {
    color:rgba(0, 0, 0, 0.9);
  }
  .link-dark:hover {
    color:rgba(0, 0, 0, 0.7);
  }